# ==== 第三方库 ====

/thirdLibrary/**/*
!/thirdLibrary/**/
!/thirdLibrary/**/*.md
!/thirdLibrary/**/*.gitkeep

# ==== 模型文件 ====

/resources/**/*
!/resources/**/
!/resources/**/*.json
!/resources/**/*.gitkeep

.vs/
*.user
*.suo
*.VC.db
*.VC.opendb
x64/
Debug/
Release/
.vscode

# ===== Build =====
build/
bin/
Debug/
Release/
x64/

# ===== C/C++ =====
*.o
*.obj
*.exe
*.out
*.pdb
*.dll
# ==== Python ====

__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/
ENV/

.pytest_cache/
.coverage
.coverage.*
htmlcov/

.env
.env.*

.idea/